@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-950 font-manrope text-white;
}

.star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: white;
  width: 20px;
  height: 20px;
}

.radial-gradient {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(var(--radial-gradient-background), 0.05) 0%,
      transparent 60%
    )
    rgba(var(--solid-color-background), 1);
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
    rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
  );
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  z-index: 10;
}

.blur {
  filter: blur(8px);
  opacity: 0.01;
}

.border-thin {
  border-width: 0.5px;
}

.cursor-pointer {
  cursor: pointer !important;
}

html {
  scroll-behavior: smooth;
}

.animated-h3 {
  background-image: linear-gradient(to right, #445ef2, #1af0e9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* background-size: 200%;
  animation: animatedText 2s linear forwards; */
}

@keyframes animatedText {
  from {
    background-position: 300%;
  }
  to {
    background-position: 70%; /* Endet bei 0%, so dass der volle sichtbare Gradient angezeigt wird */
  }
}
