@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black font-manrope text-white;
}

.star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: white;
  width: 20px;
  height: 20px;
}
